{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<a href="{{ path("admin_index30") }}" class="btn btn-primary btn-lg square" role="button">30</a>
<a href="{{ path("admin_index07") }}" class="btn btn-primary btn-lg square" role="button">7</a>
<a href="{{ path("admin_index03") }}" class="btn btn-primary btn-lg square" role="button">3</a>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">email</th>
        <th scope="col">data urodzenia</th>
        <th scope="col">dodany</th>
        <th scope="col">spos贸b dodania</th>
        <th scope="col">aktywny</th>
      </tr>
    </thead>
    <tbody>
      {% for u in users %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ u.email }}</td>
          <td>{{ u.dob|expireDOB }}</td>
          <td>{{ u.createdAt|date ("Y-m-d") }}</td>
          <td>{{ u.systemAd }}</td>
          <td>{{ u.isVerified ? '' : 'Nie' }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{# 
30dni
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">email</th>
        <th scope="col">data urodzenia</th>
        <th scope="col">dodany</th>
        <th scope="col">spos贸b dodania</th>
      </tr>
    </thead>
    <tbody>
      {% for u30 in users30 %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ u30.email }}</td>
          <td>{{ u30.dob|expireDOB }} - {{ u30.dob|date ("Y-m-d") }}</td>
          <td>{{ u30.createdAt|date ("Y-m-d") }}</td>
          <td>{{ u30.system }}</td>
          <td>{{ u30.isVerified ? '' : 'Nie' }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  7dni
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">email</th>
        <th scope="col">data urodzenia</th>
        <th scope="col">dodany</th>
        <th scope="col">spos贸b dodania</th>
      </tr>
    </thead>
    <tbody>
      {% for u7 in users7 %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ u7.email }}</td>
          <td>{{ u7.dob|expireDOB }} - {{ u7.dob|date ("Y-m-d") }}</td>
          <td>{{ u7.createdAt|date ("Y-m-d") }}</td>
          <td>{{ u7.system }}</td>
          <td>{{ u7.isVerified ? '' : 'Nie' }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  3dni
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">email</th>
        <th scope="col">data urodzenia</th>
        <th scope="col">dodany</th>
        <th scope="col">spos贸b dodania</th>
      </tr>
    </thead>
    <tbody>
      {% for u3 in users3 %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ u3.email }}</td>
          <td>{{ u3.dob|expireDOB }} - {{ u3.dob|date ("Y-m-d") }}</td>
          <td>{{ u3.createdAt|date ("Y-m-d") }}</td>
          <td>{{ u3.system }}</td>
          <td>{{ u3.isVerified ? '' : 'Nie' }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table> #}

{% endblock %}
